<p><%= t('devise.email.hello') %> <%= @resource.name %>!</p>

<p><%= t('devise.email.change_password') %></p>

<p><%= link_to t('devise.passwords.change'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.email.ignore') %></p>
<p><%= t('devise.email.password_not_change') %></p>
