<p><%= t('devise.email.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.email.account_locked') %></p>

<p><%= t('devise.email.account_unlock') %></p>

<p><%= link_to t('devise.email.unlock'), unlock_url(@resource, unlock_token: @token) %></p>
