<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if locale == :ja %>
      <%= link_to("EN", "http://localhost:3000/en#{request.env['PATH_INFO'].gsub(/ja/, '')}") %>
    <% else %>
      <%= link_to("JA", "http://localhost:3000/ja#{request.env['PATH_INFO'].gsub(/en/, '')}") %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
